.card-container {
    display: flex;
}

.my-card {
  
        background: #fff;
        
        border-radius: 0.6em;
        border: 1px solid gray;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
        transition: all ease 200ms;
     
      
     
}

.img-container {
    width: 100%;
    height: 260px;
}

.my-card:hover {
    transform: scale(1.05);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }

.my-card img {
    display: block;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
   
}