.nav-links ul {
    display: flex;
    list-style: none;
    
    padding: 0;
    margin: 10px;
   
}

.nav-links ul li {
    margin-right: 40px;
}

.logo {
    width: 20%;
}

.nav-links {
    width: 60%;
    display: flex;
   
}