.form {
    box-sizing: border-box;
    width: 400px;
    height: min-content;
    margin: 0 auto;
    background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
    );
    box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
    padding: 20px 20px 40px 20px;
    color: white;
    border-radius: 10px;

}

